.container-text {
    margin-left: 18px;
}

.container-text_paragraph-1 strong{
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.container-text_paragraph-1 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 28px;


}

.container-text_paragraph-2 strong{
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.container-text_paragraph-2 {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    

}
