.menu-bar-internal {
    width: 90%;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 14px;
    padding-bottom: 14px;
}

.menu-bar-internal__icons {
    width: 40%;
    display: flex;
    
    align-items: center;
   
}

.menu-bar-internal__icons img{
    margin-right: 16px;
   
}

.menu-bar-internal__icons p {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}